body {
	background-color: teal;
	margin: 15px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.container {
	box-sizing: border-box !important;
	overflow-x: auto;
	border-radius: 3px;
	display: inline-grid;
	gap: 2px;
	grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
	background-color: whitesmoke;
	padding: 25px;
	width: 90vw;
	/* height: 100vh; */
	justify-content: center;
}
.card {
	box-sizing: content-box !important;
	border-radius: 5px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	padding: 15px;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
		Helvetica Neue, Arial, sans-serif;
	font-size: 0.85rem !important;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.card:not(last-child) {
	margin: 3px;
}
img {
	width: 100%;
	height: auto;
}
.product_details p {
	word-wrap: break-word !important;
}
.product_details .price_ad {
	margin-bottom: 0px;
}
.product_details .price_bd {
	margin: 8px 0;
	text-decoration: line-through;
	color: #666;
}
